
body {
    margin: 5% auto;
    width: 100%;
}

.container{
  width: 100%;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    width: 100%;
    height:10%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-align:center;
    margin-top: 42.5vh;
    margin-bottom: 42.5vh;
    vertical-align: middle;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
